<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="img/logo.png" alt=""> -->
            <h1>Cafetería<span>.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
            {% block header %}
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'categorias' %}">Categorias</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="">Reserva de mesa</a></li>
                <li><a href="{% url 'pedidos' %}">Pedidos</a></li>
            </ul>
            {% endblock %}
        </nav>

        <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>
        <a class="btn-book-a-table2" href="{% url 'login' %}">Login</a>
        <a class="btn-book-a-table2" href="{% url 'addcliente' %}">Registrarse</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>