{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="producto-detail" class="producto-detail">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>{{ producto.categoria.nombre }}</h2>
            <p>{{ producto.nombre }}</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img style="width: 600px; height: 350px; object-fit: cover;" src="{% static producto.imagen %}" class="img-fluid producto-img" alt="{{ producto.nombre }}">
            </div>
            <div class="col-lg-6">
                <div class="producto-info">
                    <h3>Descripción</h3>
                    <p>{{ producto.descripcion }}</p>
                    <h3>Precio</h3>
                    <p class="precio">{{ producto.precio }}</p>
                    <h3>Categoría</h3>
                    <p>{{ producto.categoria.nombre }}</p>
                    <form id="comprar-form" action="{% url 'pedido' %}" method="post" class="php-email-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <button id="comprar-btn" type="button" class="btn btn-primary btn-block">Comprar</button>
                        </div>
                        <div id="cantidad-input" style="display: none;">
                            <input type="hidden" name="producto_id" value="{{ producto.id }}">
                            <hr>
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre de registro">
                            <hr>
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" placeholder="Ingresa tu email de registro">
                            <hr>
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" name="cantidad" id="cantidad" min="1" value="1">
                            <button type="submit" class="btn btn-success">Confirmar Compra</button>
                        </div>
                    </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const comprarBtn = document.getElementById('comprar-btn');
                            const cantidadInput = document.getElementById('cantidad-input');
                        
                            comprarBtn.addEventListener('click', function() {
                                comprarBtn.style.display = 'none';
                                cantidadInput.style.display = 'block';
                            });
                        });
                        </script>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}